.flexslider {
    margin: 0;
    padding: 0
}
.flexslider ul li:before{
    content: none;
}
.flexslider .slides>li {
    display: none;
    -webkit-backface-visibility: hidden;
    padding-left: 0;
}

.flexslider .slides img {
    max-width: 100%;
    display: block;
    margin: 0 auto
}

.flexslider .slides:after {
    content: "\0020";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0
}

html[xmlns] .flexslider .slides {
    display: block
}

* html .flexslider .slides {
    height: 1%
}

.no-js .flexslider .slides>li:first-child {
    display: block
}

.flexslider {
    margin: 0 0 20px;
    background: #fff;
    border: 4px solid #fff;
    position: relative;
    zoom: 1;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: '' 0 1px 4px rgba(0, 0, 0, .2);
    -moz-box-shadow: '' 0 1px 4px rgba(0, 0, 0, .2);
    -o-box-shadow: '' 0 1px 4px rgba(0, 0, 0, .2);
    box-shadow: '' 0 1px 4px rgba(0, 0, 0, .2)
}

.flexslider .slides {
    zoom: 1
}

.flexslider .slides img {
    height: auto;
    -moz-user-select: none
}

.flex-viewport {
    max-height: 2000px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.loading .flex-viewport {
    max-height: 300px
}
.flex-direction-nav{
    display: none;
}
@-moz-document url-prefix() {
    .loading .flex-viewport {
        max-height: none
    }
}

.carousel li {
    margin-right: 5px
}

.flex-direction-nav a {
    text-decoration: none;
    display: block;
    width: 40px;
    height: 40px;
    margin: -20px 0 0;
    position: absolute;
    top: 50%;
    z-index: 10;
    overflow: hidden;
    opacity: 0;
    cursor: pointer;
    color: rgba(0, 0, 0, .8);
    text-shadow: 1px 1px 0 rgba(255, 255, 255, .3);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.flex-direction-nav a:before {
    font-family: flexslider-icon;
    font-size: 40px;
    display: inline-block;
    content: '\2190';
    color: rgba(0, 0, 0, .8);
    text-shadow: 1px 1px 0 rgba(255, 255, 255, .3)
}

.flex-direction-nav a.flex-next:before {
    content: '\2192'
}

.flex-direction-nav .flex-prev {
    left: -50px
}

.flex-direction-nav .flex-next {
    right: -50px;
    text-align: right
}

.flexslider:hover .flex-direction-nav .flex-prev {
    opacity: .7;
    left: 10px
}

.flexslider:hover .flex-direction-nav .flex-prev:hover {
    opacity: 1
}

.flexslider:hover .flex-direction-nav .flex-next {
    opacity: .7;
    right: 10px
}

.flexslider:hover .flex-direction-nav .flex-next:hover {
    opacity: 1
}

.flex-direction-nav .flex-disabled {
    opacity: 0!important;
    cursor: default;
    z-index: -1
}

.flex-pauseplay a {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 5px;
    left: 10px;
    opacity: .8;
    z-index: 10;
    overflow: hidden;
    cursor: pointer;
    color: #000
}

.flex-pauseplay a:before {
    font-family: flexslider-icon;
    font-size: 20px;
    display: inline-block;
    content: '\f004'
}

.flex-pauseplay a:hover {
    opacity: 1
}

.flex-pauseplay a.flex-play:before {
    content: '\f003'
}

.flex-control-nav {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -40px;
    text-align: center
}

.flex-control-nav li {
    margin: 0 6px;
    display: inline-block;
    zoom: 1
}

.flex-control-paging li a {
    width: 11px;
    height: 11px;
    display: block;
    background: #dcdcdc;
    cursor: pointer;
    text-indent: -9999px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px
}

.flex-control-paging li a:hover {
    background: #333;
    background: rgba(0, 0, 0, .7)
}

.flex-control-paging li a.flex-active {
    background: #1c5ca8;
    cursor: default
}

.flex-control-thumbs {
    margin: 5px 0 0;
    position: static;
    overflow: hidden
}

.flex-control-thumbs li {
    width: 25%;
    float: left;
    margin: 0
}

.flex-control-thumbs img {
    width: 100%;
    height: auto;
    display: block;
    opacity: .7;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease
}

.flex-control-thumbs img:hover {
    opacity: 1
}

.flex-control-thumbs .flex-active {
    opacity: 1;
    cursor: default
}

@media screen and (max-width:860px) {
    .flex-direction-nav .flex-prev {
        opacity: 1;
        left: 10px
    }
    .flex-direction-nav .flex-next {
        opacity: 1;
        right: 10px
    }
}