* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.6em;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
}

main ul li {
  position: relative;
  padding-left: 2rem;
}

main ul li:before {
  content: 'L';
  -webkit-transform: scaleX(-1) rotate(-35deg);
  transform: scaleX(-1) rotate(-40deg);
  font-family: arial;
  display: inline-block;
  position: absolute;
  left: 0;
  font-weight: normal;
  font-size: 1.1rem;
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

@font-face {
  font-family: 'Roboto-Light';
  src: url("../../assets/fonts/Roboto-Light.eot") format("embedded-opentype"), url("../../assets/fonts/Roboto-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url("../../assets/fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-RegularItalic';
  src: url("../../assets/fonts/Roboto-RegularItalic.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Roboto-RegularItalic.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url("../../assets/fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url("../../assets/fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Lato-Light';
  src: url("../../assets/fonts/Lato-Light.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Lato-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Lato-Regular';
  src: url("../../assets/fonts/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Lato-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Lato-Semibold';
  src: url("../../assets/fonts/Lato-Semibold.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Lato-Semibold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Lato-Bold';
  src: url("../../assets/fonts/Lato-Bold.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Lato-Bold.woff2") format("woff2");
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: 'icomoon';
  src: url("../../assets/fonts/icomoon.woff") format("woff");
  font-display: swap;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon';
  speak: none;
  font-size: 6rem;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  z-index: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-address:before {
  content: "\e900";
}

.icon-arrow_bottom:before {
  content: "\e901";
  color: #205da8;
}

.icon-artificial-intelligence:before {
  content: "\e902";
  color: #fff;
}

.icon-business-intelligence:before {
  content: "\e903";
}

.icon-business-scaling:before {
  content: "\e904";
}

.icon-cloud-teaching:before {
  content: "\e905";
  color: #0674b9;
}

.icon-consulting-needs-assessment:before {
  content: "\e906";
  color: #fff;
}

.icon-creative-technical-excellence:before {
  content: "\e907";
}

.icon-CRM-system-implementations:before {
  content: "\e908";
  color: #fff;
}

.icon-CRM-system-migrations:before {
  content: "\e909";
  color: #fff;
}

.icon-customer-engagement:before {
  content: "\e90a";
}

.icon-customer-experience:before {
  content: "\e90b";
}

.icon-customer-insight:before {
  content: "\e90c";
  color: #fff;
}

.icon-customer-service:before {
  content: "\e90d";
  color: #fff;
}

.icon-data-extraction:before {
  content: "\e90e";
  color: #fff;
}

.icon-email:before {
  content: "\e90f";
}

.icon-facebook:before {
  content: "\e910";
  color: #fff;
}

.icon-field-service:before {
  content: "\e911";
  color: #fff;
}

.icon-financials:before {
  content: "\e912";
  color: #fff;
}

.icon-hand-select:before {
  content: "\e913";
}

.icon-heart-icon:before {
  content: "\e914";
  color: #0674b9;
}

.icon-highly-functional:before {
  content: "\e915";
}

.icon-innovative-business-growth:before {
  content: "\e916";
}

.icon-linkedin:before {
  content: "\e917";
  color: #fff;
}

.icon-machine-learning:before {
  content: "\e918";
  color: #fff;
}

.icon-marketing:before {
  content: "\e919";
  color: #fff;
}

.icon-operations:before {
  content: "\e91a";
  color: #fff;
}

.icon-pencil-pc:before {
  content: "\e91b";
}

.icon-phone:before {
  content: "\e91c";
}

.icon-project-automation:before {
  content: "\e91d";
  color: #fff;
}

.icon-sales:before {
  content: "\e91e";
  color: #fff;
}

.icon-sync-devices:before {
  content: "\e91f";
}

.icon-system-data-integrations:before {
  content: "\e920";
  color: #fff;
}

.icon-target:before {
  content: "\e921";
  color: #0674b9;
}

.icon-twitter:before {
  content: "\e922";
  color: #fff;
}

html {
  font-size: 14px;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  font-family: 'Roboto-Regular', sans-serif;
  letter-spacing: 0.1px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body main {
  margin-top: 100px;
}

@media (max-width: 767px) {
  body main {
    text-align: center;
  }
}

.m-0 {
  margin: 0;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

@media (max-width: 767px) {
  .text-right {
    text-align: center;
  }
}

.text-left {
  text-align: left;
}

@media (max-width: 767px) {
  .text-left {
    text-align: center;
  }
}

.bottom-align {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.middle-align {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.spacer {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.flex-important {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-wrap: wrap !important;
      flex-wrap: wrap !important;
}

.d-flex, .justify-content-center, .justify-content-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.center-content {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.flex-center {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
}

.justify-content-center {
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
}

.justify-content-between {
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

section .heading-dotbg {
  background: url(../../../assets/images/datascience/dot-bg.png) no-repeat center;
  background-size: 10rem;
  background-position: top left 15px;
  padding-top: 2rem;
  padding-left: 2rem;
}

@media (max-width: 767px) {
  section .heading-dotbg {
    background: none;
  }
}

section .heading-blue {
  color: #1795d2;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .block {
    display: block;
  }
  .flex-order {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .mb-0 {
    margin-bottom: 0;
  }
  .pb-0 {
    padding-bottom: 0;
  }
}

@media (max-width: 767px) {
  .m-mb-2 {
    margin-bottom: 2rem;
  }
}

.header-social-share {
  background: #000;
  width: 4.7rem;
  padding: 2.2rem .8rem;
  border-radius: 40px 0 0 40px;
  text-align: center;
  position: fixed;
  right: 0;
  top: 125px;
  z-index: 3;
}

@media (max-width: 1024px) {
  .header-social-share {
    visibility: hidden;
    width: 3.3rem;
    padding: 1rem .8rem;
    border-radius: 25px 0 0 25px;
    top: 110px;
  }
}

.header-social-share li {
  margin: 1.2rem 0;
}

@media (max-width: 1024px) {
  .header-social-share li {
    margin: .8rem 0;
  }
}

.header-social-share li a {
  color: #fff;
}

.header-social-share span {
  font-size: 3.4rem;
}

.ismobile {
  overflow: hidden;
  position: fixed;
}

.ismobile .header-social-share {
  visibility: visible;
}

.ismobile .header-social-share span {
  font-size: 2.6rem;
}

#back-to-top {
  cursor: pointer;
  position: fixed;
  bottom: 10px;
  right: 15px;
  display: none;
  height: 3em;
  width: 3em;
  color: #fff;
  border-color: #1d5ca9;
  background-color: #1d5ca9;
  z-index: 999;
}

#back-to-top:before, #back-to-top:after {
  content: "";
  display: block;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#back-to-top:before {
  -webkit-transform: translate(-50%, -25%) rotate(45deg);
          transform: translate(-50%, -25%) rotate(45deg);
  border: 2px solid currentColor;
  border-bottom: 0;
  border-right: 0;
  height: .65em;
  width: .65em;
}

.spinner-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  left: 0;
  top: 0;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.spinner {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: "Lato-Semibold";
  line-height: 1.2;
  margin-bottom: 2rem;
}

.h1, h1 {
  font-size: 2.7rem;
}

.h2, h2 {
  font-size: 2.3rem;
}

.h3, h3 {
  font-size: 1.8rem;
  font-weight: 600;
}

.h4, h4 {
  font-size: 1.5rem;
}

.h5, h5 {
  font-size: 1.3rem;
  font-weight: 400;
}

.h6, h6 {
  font-size: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol, ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 1rem;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

label {
  display: inline-block;
  margin-bottom: .5rem;
}

@media (max-width: 767px) {
  h1, .h1 {
    font-size: 2rem;
  }
  h2, .h2 {
    font-size: 1.7rem;
  }
  h3, .h3 {
    font-size: 1.5rem;
  }
}

.nav-list {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  list-style: none;
  margin-bottom: 0;
  font-family: "Lato-Regular";
}

.nav-list__item {
  position: relative;
}

@media (min-width: 1025px) {
  .nav-list__item:hover .nav-list__sub-list {
    visibility: visible;
    opacity: 1;
    top: calc(100% + 25px);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
}

.nav-list__item [href="javascript:void(0)"] {
  cursor: default;
}

.nav-list__link {
  color: #000;
  text-transform: capitalize;
  font-size: 1.3rem;
  font-family: "Lato-Semibold";
  padding: 1rem 1.1rem;
  letter-spacing: 0.45px;
  white-space: nowrap;
}

.nav-list__link:hover, .nav-list__link.active {
  color: #1795d2;
}

.nav-list__sub-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  border: 2px solid #ccc;
  list-style: none;
  background: #fff;
  z-index: 2;
  padding: 1.5rem 0.5rem;
  top: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media (max-width: 1024px) {
  .nav-list__sub-list {
    display: none;
  }
}

.nav-list__sub-list:before {
  content: "";
  border-bottom: 19px solid #ccc;
  border-left: 17px solid #d8000000;
  border-right: 18px solid #fb0e0e00;
  position: absolute;
  top: -19px;
  z-index: 1;
}

.nav-list__sub-list:after {
  content: "";
  border-bottom: 17px solid #fff;
  border-left: 17px solid #d8000000;
  border-right: 17px solid #fb0e0e00;
  position: absolute;
  top: -15px;
  z-index: 1;
}

.nav-list__sub-list .nav-list__link {
  text-transform: initial;
  font-weight: 400;
  font-size: 1rem;
  padding: 1rem 0.5rem;
}

.nav-menu {
  display: none;
}

@media (max-width: 1024px) {
  nav {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    background: #fff;
    overflow: auto;
    top: 62px;
  }
  nav .nav-list {
    display: block;
  }
  nav .nav-list__item {
    padding-top: 30px;
  }
  nav .nav-list__item .nav-list__sub-list {
    opacity: 1;
    position: relative;
    border: none;
    top: 0;
    padding: 0 20px;
    visibility: visible;
  }
  nav .nav-list__item .nav-list__sub-list::after, nav .nav-list__item .nav-list__sub-list:before {
    content: none;
  }
  .nav-menu {
    display: none;
  }
  .nav-menu:checked ~ .header__container nav {
    display: block;
  }
  .nav-menu:checked ~ .header__container .header__ex2-humburger {
    position: relative;
    z-index: 10;
  }
  .nav-menu:checked ~ .header__container .header__ex2-humburger__inner {
    top: 4px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .nav-menu:checked ~ .header__container .header__ex2-humburger__inner:before {
    top: 0;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
}

.container {
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1025px) {
  .container {
    max-width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1330px;
  }
}

.row {
  margin-right: -1rem;
  margin-left: -1rem;
}

@media (min-width: 768px) {
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.col, .col-3, .col-4, .col-5, .col-6, .col-7 {
  position: relative;
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
}

@media (min-width: 768px) {
  .col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
            flex-grow: 1;
    max-width: 100%;
  }
  .col-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-4 {
    -ms-flex: 0 0 33.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-5 {
    -ms-flex: 0 0 41.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-6 {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-7 {
    -ms-flex: 0 0 58.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
}

@media (min-width: 480px) {
  .col-xs-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .m-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.header {
  position: relative;
  background-color: #bddde9;
  padding: 1.1rem 0;
  z-index: 2;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
}

@media (max-width: 767px) {
  .header {
    padding: 0.9rem 0;
    min-height: 60px;
  }
}

.header__container {
  max-width: 90%;
  margin: 0 auto;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.header__logo img {
  max-width: 240px;
}

@media (max-width: 1024px) {
  .header__logo img {
    max-width: 185px;
  }
}

.header__ex2-humburger #humburgerTrigger {
  width: 25px;
  height: 14px;
  display: inline-block;
  position: relative;
  display: none;
}

@media (max-width: 1024px) {
  .header__ex2-humburger #humburgerTrigger {
    display: block;
  }
}

.header__ex2-humburger__inner, .header__ex2-humburger__inner:before, .header__ex2-humburger__inner:after {
  width: 25px;
  height: 2px;
  background-color: #8c98a4;
  position: absolute;
  content: "";
  left: 0;
}

.header__ex2-humburger__inner {
  top: 4px;
  -webkit-transition: 300ms ease-in;
  transition: 300ms ease-in;
}

.header__ex2-humburger__inner:before {
  top: 10px;
  -webkit-transition: 300ms ease-in;
  transition: 300ms ease-in;
}

.header__ex2-humburger__inner:after {
  top: 12px;
  content: none;
}

.home-header {
  background-color: transparent;
}

.scrollHeader {
  background-color: #bddde9;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.footer__career {
  background: #ddd url("/assets/images/growing-team.jpg") no-repeat center;
  background-size: cover;
  min-height: 650px;
}

@media only screen and (min-width: 411px) and (max-width: 823px) and (orientation: landscape) {
  .footer__career {
    min-height: 400px;
  }
}

@media (max-width: 767px) {
  .footer__career {
    min-height: 400px;
  }
}

.footer__career h2 {
  margin-bottom: 5rem;
}

@media (max-width: 767px) {
  .footer__career h2 {
    margin-bottom: 3rem;
  }
}

.footer__top {
  background: #1d5ca9;
}

.footer__top h2, .footer__top p {
  color: #fff;
}

.footer__top a {
  color: #fff;
  text-transform: uppercase;
  font-size: 24px;
  border-bottom: 2px solid #fff;
}

.footer__topimg {
  position: relative;
  z-index: 1;
}

@media (max-width: 767px) {
  .footer__topimg {
    padding-bottom: 0;
  }
}

.footer__topimg::after {
  background-color: rgba(29, 92, 169, 0.5);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  z-index: -1;
}

.footer__bottom {
  background-color: #e9edf0;
}

@media (max-width: 1024px) {
  .footer__bottominfo {
    max-width: 33.33%;
    -ms-flex-preferred-size: 33.33%;
        flex-basis: 33.33%;
    margin-bottom: 2rem;
  }
}

@media (max-width: 767px) {
  .footer__bottominfo {
    max-width: 100%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-top: 1.5rem;
    border-bottom: 1px solid #ddd;
    padding-bottom: 1rem;
  }
  .footer__bottominfo:last-child {
    border-bottom: 0;
  }
}

.footer__bottominfo img {
  margin-left: -15px;
}

@media (max-width: 767px) {
  .footer__bottominfo img {
    margin-left: 0;
    max-width: 220px;
  }
}

.footer__bottominfo ul a {
  color: #000;
  margin-bottom: 0.4rem;
  display: inline-block;
}

@media (max-width: 767px) {
  .footer__bottominfo ul {
    margin-bottom: 0;
  }
}

.footer__bottominfo .btn {
  background-color: #000;
  color: #fff;
}

.footer__bottomblog {
  margin-bottom: 0.7rem;
}

.footer__bottomblogdm {
  width: 65px;
  height: 65px;
  background: #000;
  border-radius: 50px;
  color: #fff;
  text-align: center;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__bottomblogdm span {
  line-height: normal;
  display: block;
}

.footer__bottomblogdesc {
  max-width: calc(100% - 76px);
  -ms-flex-preferred-size: calc(100% - 76px);
      flex-basis: calc(100% - 76px);
}

.footer__bottomblogdesc h6 {
  margin-bottom: 0;
}

.footer__bottomblogdesc .date {
  font-size: 0.7rem;
}

.footer__bottom .ourlocations {
  text-transform: uppercase;
}

.footer__bottom .resources p {
  text-transform: uppercase;
  color: #000;
}

.footer__copyright {
  background-color: #fff;
  padding: 1.7rem 0;
}

.footer__copyright p, .footer__copyright ul {
  margin-bottom: 0;
}

.footer__copyright ul {
  margin-left: 1rem;
}

.footer__copyright ul li a {
  color: #000;
  text-transform: uppercase;
  padding: 0 0.5rem;
  position: relative;
}

.footer__copyright ul li a::after {
  content: "|";
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  line-height: normal;
}

.footer__copyright ul li:last-child a::after {
  content: none;
}

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}

.btn {
  display: inline-block;
  font-family: "Lato-Regular";
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 1rem 3.5rem;
}

.btn:focus {
  outline: none;
}

.btn-primary {
  color: #fff;
  border-color: #1d5ca9;
  background-color: #1d5ca9;
}

.btn-primary:hover {
  background-color: #16447d;
  border-color: #16447d;
}

.btn-rounded {
  border-radius: 50px;
}
/*# sourceMappingURL=main.css.map */