.data-science .data-science__top {
  background: url(../../../assets/images/datascience/data-bg.png) no-repeat center;
  background-size: 39rem;
  background-position: top right -11rem;
}

@media (max-width: 1024px) {
  .data-science .data-science__top {
    background-size: contain;
  }
}

.data-science .data-science__middle {
  background: url(../../../assets/images/datascience/process-bg.png) no-repeat center;
  background-size: 36rem;
  background-position: top left;
}

@media (max-width: 1024px) {
  .data-science .data-science__middle {
    background-size: contain;
  }
}

.hexagone {
  width: 230px;
  height: 132px;
  background-color: #1795d2;
  border-color: #1795d2;
  position: relative;
  margin: 60px auto;
}

.hexagone:before, .hexagone:after {
  content: '';
  width: 0;
  height: 0;
  border-left: 115px solid transparent;
  border-right: 115px solid transparent;
  position: absolute;
  left: 0;
}

.hexagone:before {
  top: -66px;
  border-bottom: 66px solid #1795d2;
}

.hexagone:after {
  bottom: -66px;
  border-top: 66px solid #1795d2;
}

@media (max-width: 767px) {
  .hexagone {
    width: 100px;
    height: 60px;
  }
  .hexagone span {
    font-size: 4rem;
  }
  .hexagone:before, .hexagone:after {
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
  }
  .hexagone:before {
    top: -30px;
    border-bottom: 30px solid #27aae1;
  }
  .hexagone:after {
    bottom: -30px;
    border-top: 30px solid #27aae1;
  }
}

.what-next h2 {
  padding-bottom: 2rem;
}

.what-next .bottom-align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

@media (max-width: 767px) {
  .what-next .bottom-align {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.what-next__dis {
  padding-top: 20px;
}
/*# sourceMappingURL=datascience.css.map */