@import "../../base/variables";
@import "../../base/mixins";
.data-science {
    .data-science__top{
        background: url(../../../assets/images/datascience/data-bg.png) no-repeat center;
        background-size: 39rem;
        background-position: top right -11rem; 
        @include max-width-for(tablet){
            background-size: contain;
        }
    }
    .data-science__middle{
        background: url(../../../assets/images/datascience/process-bg.png) no-repeat center;
        background-size: 36rem;
        background-position: top left;
        @include max-width-for(tablet){
            background-size: contain;
        }
    }
}
.hexagone {
    width: 230px;
    height: 132px;
    background-color: $primary;
    border-color: $primary;
    position: relative;
    margin: 60px auto;
    &:before,
    &:after {
        content: '';
        width: 0;
        height: 0;
        border-left: 115px solid transparent;
        border-right: 115px solid transparent;
        position: absolute;
        left: 0;
    }
    &:before {
        top: -66px;
        border-bottom: 66px solid $primary;;
    }
    &:after {
        bottom: -66px;
        border-top: 66px solid $primary;;
    }
    @include max-width-for(phone){
        width: 100px;
        height: 60px;
        span{
            font-size: 4rem;
        }
        &:before,
        &:after { 
            border-left: 50px solid transparent;
            border-right: 50px solid transparent;
        }
        &:before {
            top: -30px;
            border-bottom: 30px solid #27aae1;
        }
        &:after {
            bottom: -30px;
            border-top: 30px solid #27aae1;
        }
    }
}
.what-next{
    h2{
        padding-bottom: 2rem;
    }
    .bottom-align{
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        @include max-width-for(phone){
            flex-direction: column;
        }
    }
    &__dis{
        padding-top: 20px;
    }
}