.development-worried {
  background: #ddd url(../../../assets/images/webdevelopment/worried-bg.jpg) no-repeat center;
  background-size: cover;
  text-align: center;
  padding: 4rem 0px;
  position: relative;
  z-index: 1;
}

.development-worried:before {
  content: '';
  background: rgba(22, 68, 125, 0.6);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.development-worried h2 {
  color: #fff;
}
/*# sourceMappingURL=webdevelopment.css.map */