.work img {
  max-width: 500px;
  width: 100%;
}

@media (max-width: 767px) {
  .work {
    text-align: center;
  }
  .work h1 {
    margin-bottom: 0;
  }
}

.work__main-title {
  margin: 0 0 2rem;
  letter-spacing: -1.5px;
}

@media (max-width: 767px) {
  .work h2 {
    padding-top: 1rem;
  }
}

@media (max-width: 767px) {
  .work__text {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.work__text__para {
  margin-bottom: .5rem;
}

.work__link {
  text-decoration: underline;
  text-transform: uppercase;
  letter-spacing: 3.3px;
  font-size: .7rem;
  color: #000;
  font-weight: 700;
}

.work__link:hover {
  color: #1795d2;
}

@media (max-width: 767px) {
  .work .row {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.work-app img {
  max-width: 400px;
  width: 100%;
}

@media (max-width: 767px) {
  .work-app h2 {
    padding-top: 1rem;
  }
}

.work-with-us {
  background: #ddd url(../../../assets/images/webdevelopment/worried-bg.jpg) no-repeat center;
  background-size: cover;
  padding-top: 130px;
  padding-bottom: 130px;
  position: relative;
  z-index: 1;
}

.work-with-us:before {
  content: '';
  background: rgba(22, 68, 125, 0.6);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.work-with-us__banner {
  color: #fff;
}

@media (max-width: 767px) {
  section .heading-dotbg {
    padding-top: 0;
    padding-left: 15px;
    margin-bottom: 1.5rem;
  }
}
/*# sourceMappingURL=work.css.map */