@import "../../base/variables";
@import "./../../base/mixins";
.work{
    img{
        max-width: 500px;
        width: 100%;
    }
    @include max-width-for(phone){
        text-align: center;
        h1{
          margin-bottom: 0;  
        }
    }
    &__main-title{
        margin: 0 0 2rem;
        letter-spacing: -1.5px;
    }
    h2{
        @include max-width-for(phone){
            padding-top: 1rem;
        }
    }
    &__text{
        @include max-width-for(phone){
            order: 2;
        }
        &__para{
            margin-bottom: .5rem;
        }
    }
    &__link{
        text-decoration: underline;
        text-transform: uppercase;
        letter-spacing: 3.3px;
        font-size: .7rem;
        color: $black;
        font-weight: 700;
        &:hover{
            color: $primary;
        }
    }
    .row{
        @include max-width-for(phone){
            @include d-flex(flex);
            flex-wrap: wrap;
        }
    }
}
.work-app{
    img{
        max-width: 400px;
        width:100%;
    }
    h2{
        @include max-width-for(phone){
            padding-top: 1rem;
        }
    }
}
.work-with-us {
    background: #ddd url(../../../assets/images/webdevelopment/worried-bg.jpg) no-repeat center;
    background-size: cover; 
    padding-top: 130px;
    padding-bottom: 130px;
    position: relative;
    z-index: 1;
    &:before {
        content: '';
        background: rgba(22, 68, 125, 0.6);
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    &__banner{
        color: $white;
    }
}
section{
    @include max-width-for(phone){
        .heading-dotbg{
            padding-top: 0;
            padding-left: 15px;
            margin-bottom: 1.5rem;
        }
    }
}