.about-desc .row {
  margin-top: 5rem;
}

@media (max-width: 767px) {
  .about-desc .row {
    margin-top: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.about-desc .col {
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .about-desc .col {
    text-align: right;
  }
  .about-desc .col + .col {
    text-align: left;
  }
}

.about-exp [class^="col"] {
  margin-bottom: 3rem;
}

@media (max-width: 767px) {
  .about-exp [class^="col"] {
    margin-bottom: 1rem;
  }
}

.about-descbg {
  position: relative;
  padding-bottom: 35%;
}

.about-descbg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about-team h2 {
  margin-bottom: 3rem;
}

@media (max-width: 767px) {
  .about-team .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 991px) {
  .about-team .col {
    max-width: 50%;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

.about-team__card {
  margin-bottom: 1rem;
}

.about-team__cardpadding {
  position: relative;
  text-align: center;
}

.about-team__cardpadding img {
  max-width: 70%;
  border: 1px solid #f5f0f0;
  border-radius: 50%;
}

.about-team figcaption {
  padding: 2.2rem .9rem;
}

@media (max-width: 767px) {
  .about-team figcaption {
    padding: 1.5rem 0;
  }
}

.about-team figcaption h4 {
  margin-bottom: .6rem;
  font-family: "Lato-Regular";
}

@media (max-width: 479px) {
  .about-team figcaption h4 {
    font-size: 1.2rem;
  }
}

.about-rocksauce h2 {
  margin-bottom: 3rem;
}

.about-rocksauce h3 {
  margin-top: 1rem;
}

.about-homesite__leftinfo {
  margin-bottom: 2rem;
}

.about-homesite__contact {
  background: url(../../../assets/images/about-homesite.jpg) no-repeat center;
  padding: 25px;
  background-size: cover;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  z-index: 1;
}

@media (max-width: 767px) {
  .about-homesite__contact {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.about-homesite__contact:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(21, 21, 39, 0.8);
  top: 0;
  z-index: -1;
}

.about-homesite__contact h3, .about-homesite__contact p {
  color: #fff;
  margin-bottom: 5px;
}

.about-homesite__contact p {
  font-family: "Roboto-Light";
  line-height: normal;
}

.about-homesite__contact .info {
  margin-bottom: 50px;
}

.about-homesite__contact .info:last-child {
  margin-bottom: 0;
}
/*# sourceMappingURL=about.css.map */