@import "../../base/variables";
@import "../../base/mixins";
.about-desc {
    .row {
        margin-top: 5rem;
        @include max-width-for(phone) {
            margin-top: 2rem;
            display: flex;
        }
    }
    .col {
        margin-bottom: 1rem;
        @include for-size(tablet) {
            text-align: right;
        
        &+.col {
            text-align: left;
        }
    }
    }
}

.about-exp {
    [class^="col"] {
        margin-bottom: 3rem;
        @include max-width-for(phone) {
            margin-bottom: 1rem;
        }
    }
}

.about-descbg {
    position: relative;
    padding-bottom: 35%;
    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.about-team {
    h2 {
        margin-bottom: 3rem;
    }
    .row {
        @include max-width-for(phone) {
            display: flex;
            flex-wrap: wrap;
        }
    }
    .col {
        @include max-width-for(tabletSmall) {
            max-width: 50%;
            flex-basis: 50%;
        }
    }
    &__card {
        margin-bottom: 1rem;
    }
    &__cardpadding {
        position: relative;
        text-align: center;
    }
    &__cardpadding img {
        max-width: 70%;
        border: 1px solid #f5f0f0;
        border-radius: 50%;
    }
    figcaption {
        padding: 2.2rem .9rem;
        @include max-width-for(phone) {
            padding: 1.5rem 0;
        }
        h4 {
            margin-bottom: .6rem;
            font-family: $lato-regular;
            @include max-width-for(smallPhone) {
                font-size: 1.2rem;
            }
        }
    }
}

.about-rocksauce {
    h2 {
        margin-bottom: 3rem;
    }
    h3 {
        margin-top: 1rem;
    }
}
.about-homesite {
    &__leftinfo {
        margin-bottom: 2rem;
    }
    &__contact {
        background: url(../../../assets/images/about-homesite.jpg) no-repeat center;
        padding: 25px;
        background-size: cover;
        height: 100%;
        display: flex;
        align-items: flex-end;
        position: relative;
        z-index: 1;
        @include max-width-for(phone) {
            justify-content: center;
        }
        &:before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background: rgba(21, 21, 39, 0.8);
            top: 0;
            z-index: -1;
        }
        h3,p {
            color:#fff;
            margin-bottom: 5px;
        }
        p {
            font-family: $roboto-light;
            line-height: normal;
        }

        .info {
            margin-bottom: 50px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
