@import "./../../base/mixins";

.industry {
  /*circles*/
  .circles {
    margin: 3rem auto 0;
    &.row{
      display: flex;
      flex-wrap:wrap;
    }
    @include max-width-for(phone) {
      justify-content: center;
    }
    .circles_item {
      .circle {
        border-radius: 50%;
        margin: 0 auto 2rem;
      }
    }
  }
  /* sitecore */
  .sitecore {
    .sitecore_top {
      display: grid;
      grid-template-columns: 55% 45%;
      grid-template-rows: auto auto;
      grid-template-areas:
        "a b"
        "c b";
      @include max-width-for(phone) {
        grid-template-areas:
          "a a"
          "b b"
          "c c";
      }
      .item1 {
        grid-area: a;
        margin-bottom: 1.5rem;
      }
      .item2 {
        grid-area: b;
        margin-bottom: 1.5rem;
        padding-left: 2rem;
        @include max-width-for(smallPhone) {
          padding-left: 0;
        }
      }
      .item3 {
        grid-area: c;
      }
    }
    .sitecore_bottom {
      > ul {
        padding-top: 1.8rem;
        padding-left: 1.5rem;
        li {
          padding-bottom: 1.8rem;
          @include max-width-for(smallPhone) {
            text-align: left;
            padding-left: 1.5rem;
          }
        }
      }
    }
  }
  /*business*/
  .business {
    background: grey url("../../../assets/images/industrysolutions/layer-11@3x.png") center center;
    background-size: cover;
    color: #fff;
    padding: 6rem 0;
    .circle {
      width: 200px;
      height: 200px;
      background: #fff;
    }
  }
  /*dynamics*/
  .dynamics {
    .sub_title {
      margin-top: 36px;
    }
    .squares {
      max-width: 800px;
      margin: 0 auto;
      @include max-width-for(phone) {
        justify-content: center;
      }
      .squares_item {
        height: 14.5rem;
        padding: 2rem;
        color: #fff;
        flex: 1 0 25%;
        @include max-width-for(phone) {
          flex: 1 0 34%;
        }
        span {
          font-size: 4rem;
        }
        &:nth-child(1) {
          background-color: #1b8ccc;
        }
        &:nth-child(2) {
          background-color: #0b79bc;
        }
        &:nth-child(3) {
          background-color: #0674b9;
        }
        &:nth-child(4) {
          background-color: #1b8ccc;
        }
        &:nth-child(5) {
          background-color: #106db3;
        }
        &:nth-child(6) {
          background-color: #1795d2;
        }
        &:nth-child(7) {
          background-color: #1b8ccc;
        }
        &:nth-child(8) {
          background-color: #0b79bc;
        }
        > h6 {
          margin: 0;
          margin-top: auto;
        }
      }
    }
  }
  /*business process*/
  .business_process {
    .business_process_grid {
      display: grid;
      grid-template-columns: 55% 45%;
      grid-template-rows: auto auto;
      grid-template-areas:
        "a b"
        "c b";
      @include max-width-for(phone) {
        grid-template-areas:
          "a a"
          "b b"
          "c c";
      }
      .item1 {
        grid-area: a;
        margin-bottom: 1.5rem;
      }
      .item2 {
        grid-area: b;
        margin-bottom: 1.5rem;
      }
      .item3 {
        grid-area: c;
        @include max-width-for(phone) {
          text-align: center;
        }
      }
    }
  }
  /*system*/
  .system {
    .circles {
      .circles_item {
        @include max-width-for(tablet){
          flex: 1 0 41%;
          max-width: 50%;
        }
        @include max-width-for(smallPhone) {
          flex: 1 0 100%;
          max-width: 100%;
        }
        h4{
          padding: 0 1rem;
        }
        .circle {
          width: 150px;
          height: 150px;
          margin-left:auto;
          margin-right:auto;
          background: #1b8ccc;
          span{
            font-size: 4.5rem;
          }
        }
      }
    }
    .para {
      margin-top: 2.1rem;
    }
  }
  /*sales or hexagones*/
  .hexagones-container {
    margin-top: 54px;
    .hexagones {
      margin: 0 auto;
      max-width: 480px;
      justify-content: space-between;
      @include max-width-for(phone) {
        max-width: 190px;
      }
      > div {
        min-width: 230px;
        @include max-width-for(phone) {
          min-width: 90px;
        }
      }
      .hexagone {
        height: 230px;
        width: calc(230px * 0.57735);
        position: relative;
        margin: 0 auto;
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        @include max-width-for(phone) {
          height: 90px;
          width: calc(90px * 0.57735);
        }
        &:before,
        &:after {
          position: absolute;
          top: 0;
          right: calc((100% / 2) - ((230px * 0.57735) / 2));
          background-color: inherit;
          height: inherit;
          width: inherit;
          content: "";
          @include max-width-for(phone) {
            right: calc((100% / 2) - ((90px * 0.57735) / 2));
          }
        }
        &:before {
          transform: rotateZ(-60deg);
          -webkit-transform: rotateZ(-60deg);
        }
        &:after {
          transform: rotateZ(60deg);
          -webkit-transform: rotateZ(60deg);
        }
        .inner-div {
          margin: 0;
          min-width: 160px;
          width: 100%;
          color: #fff;
          position: relative;
          z-index: 1;
          transform: rotate(-90deg);
          -webkit-transform: rotate(-90deg);
          @include max-width-for(phone) {
            min-width: 75px;
            font-size: 0.75rem;
          }
        }
      }
      &.hexagones_top {
        div:first-child {
          .hexagone {
            background-color: #0674b9;
          }
        }
        div:nth-child(2) {
          .hexagone {
            background-color: #1c5ca8;
          }
        }
      }
      &.hexagones_middle {
        max-width: 710px;
        margin-top: -10px;
        @include max-width-for(phone) {
          max-width: 290px;
        }
        div:first-child {
          .hexagone {
            background-color: #0b79bc;
          }
        }
        div:nth-child(2) {
          .hexagone {
            background-color: #ccc;
            height: 175px;
            width: calc(175px * 0.57735);
            @include max-width-for(phone) {
              height: 65px;
              width: calc(65px * 0.57735);
              .inner-div{
                min-width: 55px;
              }
            }
            &:before,
            &:after {
              right: calc((100% / 2) - ((175px * 0.57735) / 2));
              @include max-width-for(phone) {
                right: calc((100% / 2) - ((65px * 0.57735) / 2));
              }
            }
          }
        }
        div:nth-child(3) {
          .hexagone {
            background-color: #106db3;
          }
        }
      }
      &.hexagones_bottom {
        margin-top: -10px;
        div:first-child {
          .hexagone {
            background-color: #1b8ccc;
          }
        }
        div:nth-child(2) {
          .hexagone {
            background-color: #1795d2;
          }
        }
      }
    }
  }
}


//dep page 

.dep {
  h2 {
    font-size: 3.5rem;
    color: $primary;
    font-family: 'Lato-Bold';
    padding-top: 3rem;
  }


   .dep-container {
     max-width: 1100px;
     margin-top: 2rem;
   }
   .sitecore-list {
    background-color: #f9f9f9;
    border-radius: 12px;
    border: 1px solid #f9f9f9;
    padding: 30px;
    h4 {
      color: $primary;
     }
    h5 {
      color:#888;
    }
}
}