.industry {
  /*circles*/
  /* sitecore */
  /*business*/
  /*dynamics*/
  /*business process*/
  /*system*/
  /*sales or hexagones*/
}

.industry .circles {
  margin: 3rem auto 0;
}

.industry .circles.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 767px) {
  .industry .circles {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.industry .circles .circles_item .circle {
  border-radius: 50%;
  margin: 0 auto 2rem;
}

.industry .sitecore .sitecore_top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 55% 45%;
      grid-template-columns: 55% 45%;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
      grid-template-areas: "a b" "c b";
}

@media (max-width: 767px) {
  .industry .sitecore .sitecore_top {
        grid-template-areas: "a a" "b b" "c c";
  }
}

.industry .sitecore .sitecore_top .item1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: a;
  margin-bottom: 1.5rem;
}

.industry .sitecore .sitecore_top .item2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: b;
  margin-bottom: 1.5rem;
  padding-left: 2rem;
}

@media (max-width: 479px) {
  .industry .sitecore .sitecore_top .item2 {
    padding-left: 0;
  }
}

.industry .sitecore .sitecore_top .item3 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: c;
}

.industry .sitecore .sitecore_bottom > ul {
  padding-top: 1.8rem;
  padding-left: 1.5rem;
}

.industry .sitecore .sitecore_bottom > ul li {
  padding-bottom: 1.8rem;
}

@media (max-width: 479px) {
  .industry .sitecore .sitecore_bottom > ul li {
    text-align: left;
    padding-left: 1.5rem;
  }
}

.industry .business {
  background: grey url("../../../assets/images/industrysolutions/layer-11@3x.png") center center;
  background-size: cover;
  color: #fff;
  padding: 6rem 0;
}

.industry .business .circle {
  width: 200px;
  height: 200px;
  background: #fff;
}

.industry .dynamics .sub_title {
  margin-top: 36px;
}

.industry .dynamics .squares {
  max-width: 800px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .industry .dynamics .squares {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.industry .dynamics .squares .squares_item {
  height: 14.5rem;
  padding: 2rem;
  color: #fff;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 25%;
          flex: 1 0 25%;
}

@media (max-width: 767px) {
  .industry .dynamics .squares .squares_item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 34%;
            flex: 1 0 34%;
  }
}

.industry .dynamics .squares .squares_item span {
  font-size: 4rem;
}

.industry .dynamics .squares .squares_item:nth-child(1) {
  background-color: #1b8ccc;
}

.industry .dynamics .squares .squares_item:nth-child(2) {
  background-color: #0b79bc;
}

.industry .dynamics .squares .squares_item:nth-child(3) {
  background-color: #0674b9;
}

.industry .dynamics .squares .squares_item:nth-child(4) {
  background-color: #1b8ccc;
}

.industry .dynamics .squares .squares_item:nth-child(5) {
  background-color: #106db3;
}

.industry .dynamics .squares .squares_item:nth-child(6) {
  background-color: #1795d2;
}

.industry .dynamics .squares .squares_item:nth-child(7) {
  background-color: #1b8ccc;
}

.industry .dynamics .squares .squares_item:nth-child(8) {
  background-color: #0b79bc;
}

.industry .dynamics .squares .squares_item > h6 {
  margin: 0;
  margin-top: auto;
}

.industry .business_process .business_process_grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 55% 45%;
      grid-template-columns: 55% 45%;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
      grid-template-areas: "a b" "c b";
}

@media (max-width: 767px) {
  .industry .business_process .business_process_grid {
        grid-template-areas: "a a" "b b" "c c";
  }
}

.industry .business_process .business_process_grid .item1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: a;
  margin-bottom: 1.5rem;
}

.industry .business_process .business_process_grid .item2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: b;
  margin-bottom: 1.5rem;
}

.industry .business_process .business_process_grid .item3 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: c;
}

@media (max-width: 767px) {
  .industry .business_process .business_process_grid .item3 {
    text-align: center;
  }
}

@media (max-width: 1024px) {
  .industry .system .circles .circles_item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 41%;
            flex: 1 0 41%;
    max-width: 50%;
  }
}

@media (max-width: 479px) {
  .industry .system .circles .circles_item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
    max-width: 100%;
  }
}

.industry .system .circles .circles_item h4 {
  padding: 0 1rem;
}

.industry .system .circles .circles_item .circle {
  width: 150px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  background: #1b8ccc;
}

.industry .system .circles .circles_item .circle span {
  font-size: 4.5rem;
}

.industry .system .para {
  margin-top: 2.1rem;
}

.industry .hexagones-container {
  margin-top: 54px;
}

.industry .hexagones-container .hexagones {
  margin: 0 auto;
  max-width: 480px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .industry .hexagones-container .hexagones {
    max-width: 190px;
  }
}

.industry .hexagones-container .hexagones > div {
  min-width: 230px;
}

@media (max-width: 767px) {
  .industry .hexagones-container .hexagones > div {
    min-width: 90px;
  }
}

.industry .hexagones-container .hexagones .hexagone {
  height: 230px;
  width: calc(230px * 0.57735);
  position: relative;
  margin: 0 auto;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}

@media (max-width: 767px) {
  .industry .hexagones-container .hexagones .hexagone {
    height: 90px;
    width: calc(90px * 0.57735);
  }
}

.industry .hexagones-container .hexagones .hexagone:before, .industry .hexagones-container .hexagones .hexagone:after {
  position: absolute;
  top: 0;
  right: calc((100% / 2) - ((230px * 0.57735) / 2));
  background-color: inherit;
  height: inherit;
  width: inherit;
  content: "";
}

@media (max-width: 767px) {
  .industry .hexagones-container .hexagones .hexagone:before, .industry .hexagones-container .hexagones .hexagone:after {
    right: calc((100% / 2) - ((90px * 0.57735) / 2));
  }
}

.industry .hexagones-container .hexagones .hexagone:before {
  transform: rotateZ(-60deg);
  -webkit-transform: rotateZ(-60deg);
}

.industry .hexagones-container .hexagones .hexagone:after {
  transform: rotateZ(60deg);
  -webkit-transform: rotateZ(60deg);
}

.industry .hexagones-container .hexagones .hexagone .inner-div {
  margin: 0;
  min-width: 160px;
  width: 100%;
  color: #fff;
  position: relative;
  z-index: 1;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}

@media (max-width: 767px) {
  .industry .hexagones-container .hexagones .hexagone .inner-div {
    min-width: 75px;
    font-size: 0.75rem;
  }
}

.industry .hexagones-container .hexagones.hexagones_top div:first-child .hexagone {
  background-color: #0674b9;
}

.industry .hexagones-container .hexagones.hexagones_top div:nth-child(2) .hexagone {
  background-color: #1c5ca8;
}

.industry .hexagones-container .hexagones.hexagones_middle {
  max-width: 710px;
  margin-top: -10px;
}

@media (max-width: 767px) {
  .industry .hexagones-container .hexagones.hexagones_middle {
    max-width: 290px;
  }
}

.industry .hexagones-container .hexagones.hexagones_middle div:first-child .hexagone {
  background-color: #0b79bc;
}

.industry .hexagones-container .hexagones.hexagones_middle div:nth-child(2) .hexagone {
  background-color: #ccc;
  height: 175px;
  width: calc(175px * 0.57735);
}

@media (max-width: 767px) {
  .industry .hexagones-container .hexagones.hexagones_middle div:nth-child(2) .hexagone {
    height: 65px;
    width: calc(65px * 0.57735);
  }
  .industry .hexagones-container .hexagones.hexagones_middle div:nth-child(2) .hexagone .inner-div {
    min-width: 55px;
  }
}

.industry .hexagones-container .hexagones.hexagones_middle div:nth-child(2) .hexagone:before, .industry .hexagones-container .hexagones.hexagones_middle div:nth-child(2) .hexagone:after {
  right: calc((100% / 2) - ((175px * 0.57735) / 2));
}

@media (max-width: 767px) {
  .industry .hexagones-container .hexagones.hexagones_middle div:nth-child(2) .hexagone:before, .industry .hexagones-container .hexagones.hexagones_middle div:nth-child(2) .hexagone:after {
    right: calc((100% / 2) - ((65px * 0.57735) / 2));
  }
}

.industry .hexagones-container .hexagones.hexagones_middle div:nth-child(3) .hexagone {
  background-color: #106db3;
}

.industry .hexagones-container .hexagones.hexagones_bottom {
  margin-top: -10px;
}

.industry .hexagones-container .hexagones.hexagones_bottom div:first-child .hexagone {
  background-color: #1b8ccc;
}

.industry .hexagones-container .hexagones.hexagones_bottom div:nth-child(2) .hexagone {
  background-color: #1795d2;
}

.dep h2 {
  font-size: 3.5rem;
  color: #1795d2;
  font-family: 'Lato-Bold';
  padding-top: 3rem;
}

.dep .dep-container {
  max-width: 1100px;
  margin-top: 2rem;
}

.dep .sitecore-list {
  background-color: #f9f9f9;
  border-radius: 12px;
  border: 1px solid #f9f9f9;
  padding: 30px;
}

.dep .sitecore-list h4 {
  color: #1795d2;
}

.dep .sitecore-list h5 {
  color: #888;
}
/*# sourceMappingURL=industrysolutions.css.map */