.footer {
    &__career {
        background: #ddd url("/assets/images/growing-team.jpg") no-repeat center;
        background-size: cover;
        min-height: 650px;
        @include gp-landscape {
            min-height: 400px; 
        }
        @include max-width-for(phone) {
            min-height: 400px;
        }
        h2 {
            margin-bottom: 5rem;
            @include max-width-for(phone) {
                margin-bottom: 3rem;
            }
        }
    }
    &__top {
        background: $blue;
        h2,p {
            color: #fff;
        }
        a {
            color: #fff;
            text-transform: uppercase;
            font-size: 24px;
            border-bottom:2px solid #fff;
        }
        &img {
            position: relative;
            z-index: 1;
            @include max-width-for(phone) {
                padding-bottom: 0;
            }
            &::after {
                background-color: rgba(29, 92, 169, 0.5);
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                content: "";
                z-index: -1;
            }
        }
    }
    &__bottom {
        background-color: #e9edf0;
        &info {
            @include max-width-for(tablet) {
                max-width: 33.33%;
                flex-basis: 33.33%;
                margin-bottom:2rem;
            }
            @include max-width-for(phone) {
                max-width: 100%;
                flex-basis: 100%;
                margin-top:1.5rem;
                border-bottom: 1px solid #ddd;
                padding-bottom: 1rem;
                &:last-child {
                    border-bottom: 0;
                }
            }

            img {
                margin-left: -15px;
                @include max-width-for(phone) {
                    margin-left: 0;
                    max-width: 220px;
                }
            }
            ul {
                a {
                    color: $black;
                    margin-bottom: 0.4rem;
                    display: inline-block;
                }
                @include max-width-for(phone) {
                    margin-bottom: 0;
                }
            }
            .btn {
                background-color: #000;
                color:#fff;
            }
        }
        &blog {
            margin-bottom: 0.7rem;
        }
        &blogdm {
            width: 65px;
            height: 65px;
            background: #000;
            border-radius: 50px;
            color: #fff;
            text-align: center;
            margin-right: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            span {
                line-height: normal;
                display: block;
            }
        }
        &blogdesc {
            max-width: calc(100% - 76px);
            flex-basis: calc(100% - 76px);
            h6 {
                margin-bottom: 0;
            }
            .date {
                font-size: 0.7rem;
            }
        }
        .ourlocations {
            text-transform: uppercase;
        }
        
        .resources p {
            text-transform: uppercase;
            color: #000;

        }
    }
    &__copyright {
        background-color: #fff;
        padding: 1.7rem 0;

        p,ul {
            margin-bottom: 0;
        }
        ul {
            margin-left: 1rem;
            li {
                a {
                    color: #000;
                    text-transform: uppercase;
                    padding: 0 0.5rem;
                    position: relative;
                    &::after {
                        content: "|";
                        display: inline-block;
                        position: absolute;
                        right: 0;
                        top: 0;
                        line-height: normal;
                    }
                }
                &:last-child a {
                    &::after {
                        content: none;
                    }
                }  
            }
        }
    }
}