.container {
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;
    @include for-size(tablet-up){
        max-width: 970px;
    }
    @include for-size(small-desktop){
        max-width: 1170px;
    }
    @include for-size(large-desktop){
        max-width: 1330px;
    }
}
.row {
    margin-right: -1rem;
    margin-left: -1rem;
    @include for-size(tablet){
        display: flex;
        flex-wrap: wrap;
    }
}
.col,.col-3, .col-4, .col-5,.col-6,.col-7 {
    position: relative;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
}
@include for-size(tablet){
    .col {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;   
        flex-grow: 1;
        max-width: 100%;
    }
    .col-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .col-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }
    .col-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }
}

@include for-size(phone-landscape-up) {
    .col-xs-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .m-row {
        display: flex;
        flex-wrap: wrap;
    }
}