@import "./../base/mixins";
.header{
    position: relative;
    background-color: #bddde9;
    // box-shadow: 0 0 3px 0 rgba(0,0,0,.22);
    padding: 1.1rem 0;
    z-index: 2;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    @include max-width-for(phone) {
        padding: 0.9rem 0;
        min-height: 60px;
    }
    &__container {
        max-width: 90%;
        margin: 0 auto;
        @include flex_center_between;
    }
    &__logo{
        img{
            max-width: 240px;
            @include max-width-for(tablet){
                max-width: 185px;
            }
        }
    }
    &__ex2-humburger{
        #humburgerTrigger {
            width: 25px;
            height: 14px;
            display: inline-block;
            position: relative;
            display: none;
            @include max-width-for(tablet){
                display: block;
            }
        }
        &__inner, &__inner:before, &__inner:after{
            width: 25px;
            height: 2px;
            background-color: #8c98a4;
            position: absolute;
            content: "";
            left: 0;
        }
        &__inner{
            top:4px;
            transition: 300ms ease-in;
            &:before{
                top: 10px;
                transition: 300ms ease-in;
            }
            &:after{
                top:12px;
                content: none;
            }
        }
    }
}
.home-header {
    background-color: transparent;
}
.scrollHeader {
    background-color: #bddde9;
    transition: all 0.4s ease;
}


