.nav-list {
  @include d-flex(flex);
  list-style: none;
  margin-bottom: 0;
  font-family: $lato-regular;

  &__item {
    position: relative;
    @include for-size(tablet-up) {
      &:hover {
        .nav-list__sub-list {
          visibility: visible;
          opacity: 1;
          top: calc(100% + 25px);
          transition: all 0.5s ease;
        }
      }
    }
    [href="javascript:void(0)"] {
      cursor: default;
    }
  }

  &__link {
    color: $black;
    text-transform: capitalize;
    font-size: 1.3rem;
    font-family: $lato-semibold;
    padding: 1rem 1.1rem;
    letter-spacing: 0.45px;
    white-space: nowrap;
    &:hover,
    &.active {
      color: $primary;
    }
  }

  &__sub-list {
    display: flex;
    position: absolute;
    border: 2px solid #ccc;
    list-style: none;
    background: #fff;
    z-index: 2;
    padding: 1.5rem 0.5rem;
    top: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;

    @include max-width-for(tablet) {
      display: none;
    }

    &:before {
      content: "";
      border-bottom: 19px solid #ccc;
      border-left: 17px solid #d8000000;
      border-right: 18px solid #fb0e0e00;
      position: absolute;
      top: -19px;
      z-index: 1;
    }

    &:after {
      content: "";
      border-bottom: 17px solid #fff;
      border-left: 17px solid #d8000000;
      border-right: 17px solid #fb0e0e00;
      position: absolute;
      top: -15px;
      z-index: 1;
    }

    .nav-list__link {
      text-transform: initial;
      font-weight: 400;
      font-size: 1rem;
      padding: 1rem 0.5rem;
    }
  }
}

.nav-menu {
  display: none;
}

@include max-width-for(tablet) {
  nav {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    background: #fff;
    overflow: auto;
    top: 62px;

    .nav-list {
      display: block;


      &__item {
        padding-top: 30px;

        & .nav-list__sub-list {
          opacity: 1;
          position: relative;
          border: none;
          top: 0;
          padding: 0 20px;
          visibility: visible;
          &::after,
          &:before {
            content: none;
          }
        }
      }
    }
  }

  .nav-menu {
    display: none;
    &:checked ~ .header__container {
      nav {
        display: block;
      }

      .header__ex2-humburger {
        position: relative;
        z-index: 10;

        &__inner {
          top: 4px;
          transform: rotate(45deg);

          &:before {
            top: 0;
            transform: rotate(-90deg);
          }
        }
      }
    }
  }
}
