.sitemap {
ul {
     ul {
        padding-left: 30px;
    }
    li {
    list-style: disc;
    padding-left: 0;
    margin-bottom: 0.5rem;
    list-style-position: inside;
        &::before {
            content: none;
        }
    }
    a {
        color: #000;
        font-size: 1.2rem;
    }
}
}