.sitemap ul ul {
  padding-left: 30px;
}

.sitemap ul li {
  list-style: disc;
  padding-left: 0;
  margin-bottom: 0.5rem;
  list-style-position: inside;
}

.sitemap ul li::before {
  content: none;
}

.sitemap ul a {
  color: #000;
  font-size: 1.2rem;
}
/*# sourceMappingURL=sitemap.css.map */