.contact-form .input-box {
  position: relative;
  width: 100%;
  padding: 1.3rem 3.7rem;
  margin-bottom: 1.2rem;
}

@media (max-width: 767px) {
  .contact-form .input-box {
    padding: 1.2rem 0;
  }
}

.contact-form .input-box__label {
  position: absolute;
  font-family: "Lato-Regular";
  font-size: 1.3rem;
  top: 20px;
  left: 3.7rem;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  text-transform: capitalize;
}

@media (max-width: 767px) {
  .contact-form .input-box__label {
    left: 0px;
  }
}

.contact-form .input-box__input-control {
  font-size: 1rem;
  position: relative;
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 10px 5px 10px 0;
  outline: none;
  color: #000;
  font-family: "Lato-Regular";
  z-index: 1;
  -webkit-appearance: none;
  border-radius: 0;
}

.contact-form .input-box__input-control:focus ~ .input-box__label,
.contact-form .input-box__input-control:valid ~ .input-box__label {
  top: 0;
  font-size: 18px;
  color: #16447d;
}

@media (min-width: 768px) {
  .contact-form form {
    padding-left: 10%;
  }
}

@media only screen and (min-width: 411px) and (max-width: 823px) and (orientation: landscape) {
  .contact-form form {
    padding-left: 0;
  }
}

.contact-form .btn {
  margin-left: 50px;
}

@media (max-width: 767px) {
  .contact-form .btn {
    margin-left: 0;
  }
}

.contact-form .pb-0 {
  padding-bottom: 0;
}

.contact-info {
  margin-top: 2rem;
}

.addr-common {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2rem;
  text-align: left;
}

@media (max-width: 767px) {
  .addr-common {
    border-bottom: 2px solid #f8f8f8;
    margin-bottom: 1rem;
  }
}

@media (max-width: 767px) {
  .addr-common:last-child {
    border-bottom: 0;
  }
}

.addr-common:last-child address {
  margin-bottom: 0;
}

.addr-common h4 {
  margin-bottom: 0.5rem;
}

.addr-common a {
  color: #000;
  font-family: "Lato-Regular";
}

.addr-common a:hover {
  color: #1795d2;
  text-decoration: underline;
}

@media (max-width: 767px) {
  .addr-common .slash-icon {
    display: none;
  }
}

.addr-common address {
  font-style: normal;
  font-size: 1.2rem;
  font-family: "Lato-Regular";
}

@media (max-width: 767px) {
  .addr-common address {
    margin-bottom: 2rem;
  }
}

.addr-common .icon {
  font-size: 2.5rem;
  margin-right: 1.5rem;
  color: #1795d2;
}

.addr-common p {
  margin-bottom: 0;
}
/*# sourceMappingURL=contact.css.map */