@import "../../base/variables";
@import "../../base/mixins";

.contact-form {
  .input-box {
    position: relative;
    width: 100%;
    padding: 1.3rem 3.7rem;
    margin-bottom: 1.2rem;

    @include max-width-for(phone) {
      padding: 1.2rem 0;
    }

    &__label {
      position: absolute;
      font-family: $lato-regular;
      font-size: 1.3rem;
      top: 20px;
      left: 3.7rem;
      transition: .5s ease;
      text-transform: capitalize;

      @include max-width-for(phone) {
        left: 0px;
      }
    }

    &__input-control {
      font-size: 1rem;
      position: relative;
      width: 100%;
      background: transparent;
      border: none;
      border-bottom: 1px solid #ccc;
      padding: 10px 5px 10px 0;
      outline: none;
      color: #000;
      font-family: $lato-regular;
      z-index: 1;
      -webkit-appearance: none;
      border-radius: 0;

      &:focus~.input-box__label,
      &:valid~.input-box__label {
        top: 0;
        font-size: 18px;
        color: #16447d;
      }
    }
  }
  form {
    @include for-size(tablet) {
      padding-left: 10%;
    }
    @include gp-landscape {
      padding-left: 0;
    }
  }
  .btn {
    margin-left: 50px;
    @include max-width-for(phone) {
      margin-left: 0;
    }
  }
  .pb-0 {
    padding-bottom: 0;
  }
}

.contact-info {
  margin-top: 2rem;
}
.addr-common {
  display: flex;
  margin-bottom: 2rem;
  text-align: left;
  @include max-width-for(phone) {
    border-bottom: 2px solid #f8f8f8;
    margin-bottom: 1rem;
  }
  &:last-child {
    @include max-width-for(phone) {
      border-bottom: 0;
    }
    address {
      margin-bottom: 0;
    }
  }
  h4 {
    margin-bottom: 0.5rem;
    
  }
  a {
    color: #000;
    font-family: $lato-regular;

    &:hover {
      color: #1795d2;
      text-decoration: underline;
    }
  }
  .slash-icon {
    @include max-width-for(phone) {
      display: none;
    }
  }
  address {
    font-style: normal;
    font-size: 1.2rem;
    font-family: $lato-regular;
    @include max-width-for(phone) {
      margin-bottom: 2rem;
    }
  }
  .icon {
    font-size: 2.5rem;
    margin-right: 1.5rem;
    color: $primary;
  }
  p {
    margin-bottom: 0;
  }
}