[type=button]:not(:disabled), 
[type=reset]:not(:disabled), 
[type=submit]:not(:disabled), 
button:not(:disabled) {
    cursor: pointer;
}
.btn {
    display: inline-block;
    font-family: $lato-regular;
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 1rem 3.5rem;
    &:focus {
        outline: none;
    }

}
.btn-primary {
    @include button-variant ($white,$blue,$blue);
}
.btn-rounded {
    border-radius:50px;
}