@import "../../base/variables";
@import "../../base/mixins";

.hero-bg {
    background: url(/assets/images/homebg.png) no-repeat;
    min-height: 100vh;
    @include flex_center_between;
    top: -100px;
    position: relative;
    margin-bottom: -100px;
    &_content {
        max-width: 600px;
        font-size: 18px;
        h2 {
            font-size: 4rem;
            font-family: $lato-regular;
            font-weight: 400;

        }
        p {
            font-size: 1.5rem;
            margin-bottom: 2rem;
        }
    }   
}

//Home Image slider design
.home-slider{
    &__desc {
        @include max-width-for(phone) {
            flex: 1;
        }
        @include max-width-for(smallPhone) {
            order:2;
            padding:0;
            text-align: center;
            margin-top: 1rem;
            flex: auto;
        }
        p {
            margin: 25px 0 50px;
            @include max-width-for(smallPhone) {
                display: none;
            }
        }
    }
    &__image-container {
        @include max-width-for(phone) {
            flex: 1;
        }
        @include max-width-for(smallPhone) {
            order:1;
            padding:0;
            flex: auto;
        } 
    }

}

//home who we are
.home-whowe {
    @include for-size(tablet){
        p{
            margin-bottom: 0;
        }
    }
    .main-dis{
        margin: 0 0 4rem;
        @include for-size(tablet){
            padding: 0 12rem;
        }
    }
    &__fig{
        @include max-width-for(tablet) {
            max-width: 50%;
            flex-basis: 50%;
            margin-bottom: 1.5rem;
        }
        @include max-width-for(phone) {
            flex-basis: 100%;
            border: solid 1px #f1f1f1;
            max-width: 350px;
            margin: 0 auto 20px;
            padding: 20px;
        }
        h4{
            margin-bottom: 1rem;
        }
        p {
            text-align: justify;
            padding: 0 1rem;
        }
    }
    &__figimg {
        margin-bottom: 2rem;
        align-items: center;
        display: flex;

        img {
            max-height: 200px;
        }
    }
}

//whatwedo
.home-whatwedo {
    .container {
        max-width: 850px;
    }

    @include max-width-for(phone) {
        .row {
            margin-top: 50px;
        }
        .col-6 {
            margin-bottom: 20px;
            
            &:nth-child(odd) {
                .home-whatwedo__card {
                    &__img img {
                        margin-left: -60px;
                        margin-right: 0;
                    }
                }
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    @include max-width-for(smallPhone) {
        .row {
            margin-top: 100px;
        }
        .col-6 {
            margin-bottom: 100px;
            
            &:nth-child(odd) {
                .home-whatwedo__card {
                    &__img img {
                        margin-left: -80px;
                    }
                }
            }
        }
    }
    
    &__card {
        margin-bottom: 70px;
        cursor: pointer;
        overflow: hidden;
        @include max-width-for(phone) {
            position: relative;
            overflow: visible;
            background-color: #f2f2f2;
            margin: 30px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
        }
        @include max-width-for(smallPhone) {
            margin: 40px;
        }
        &:hover {
            .home-whatwedo__card__img__info {
                bottom: 0;
            }
            h4 a {
                color: #0b94d3;
            }
        }
        &__img {
            position: relative;
            width: 385px;
            height: 285px;
            background-color: #f2f2f2;
            @include max-width-for(phone) {
                width: 100%;
                height: 100%;
                order: 1;
            }
            img{
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                object-fit: cover;
                @include max-width-for(phone) {
                    position: static;
                    margin-top: -50px;
                    margin-right: -60px;
                    margin-left: 0;
                    height: auto;
                } 
            }
            &__info {
                display: block;
                position: absolute;
                left: 0;
                bottom: -100%;
                width: 100%;
                background: rgba(22, 22, 22, 0.65);
                padding: 8% 5%;
                transition: all .5s ease;
                @include max-width-for(phone) {
                    display: none;
                }
                h5 {
                    color: #fff;
                    font-family: $lato-regular;
                    margin-bottom: .8rem;
                    font-weight: 400;
                }
                a {
                    font-size: .7rem;
                    color: $primary;
                    text-transform: uppercase;
                    border-bottom:1px solid rgba(12, 147, 228, 0.65);
                    font-family: $lato-bold;
                    letter-spacing: 3.36px;
                }
            }
        }
        h4 {
            color: #070707;
            font-family: $lato-semibold;
            transition: all .5s ease;
            a {
                color: #070707;

            }
            @include max-width-for(phone) {
                order: 2;
                font-size: 1.3rem;
                margin-top: 2rem;
            }
        }
    }
}

//home need us
.home-needus {
    
    @include for-size(tablet){
        h5{
            margin-bottom: 0;
            font-size: 1rem;
            line-height: 1.4;
            text-align: center;
        }
    }
    .row {
        @include max-width-for(phone) {
            display: flex;
            flex-wrap: wrap;
        }
    }
    &__desc {
        @include max-width-for(phone) {
            order: 2;
        }
        &para {
            margin-bottom: 4rem;
            @include max-width-for(tablet) {
                margin-bottom: 2rem;
            }
            @include max-width-for(phone) {
                width: 90%;
                background: #fff;
                margin: -60px auto 20px;
                position: relative;
                z-index: 9;
                padding: 15px;
            }
            
            p {
                text-align: justify;
                margin-bottom: .4rem;
            }
        }
    }
    &__descitems {
        @include max-width-for(phone) {
            order: 1;
        }
    }
    &__item {
        @include for-size(phone) {
            text-align: center;
        }
        &img {
            margin-bottom: 2rem;
            display: flex;  
            align-items: center;
            justify-content: center;
            @include max-width-for(tablet) {
                margin-bottom: 1rem;
            }
            span {
                @include max-width-for(tablet) {
                    font-size: 4rem;
                }
            }
        }

        @include max-width-for(phone) {
            h5 {
                font-size: 1rem;
                text-align: center;
                line-height: 1.45;
                .block {
                    display: block;
                }
            }
        }
    }



    &__imgblk {
        text-align: right;
    }
}

//home need us

//how we do it
.home-howdo {
    .col-6 {
        padding: 0 3rem;
        margin-bottom: 2rem;
    }
    p {
        text-align: left;
    }
}
.topitem {
    border-bottom: 1px solid rgba(0,0,0,0.22);
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    &__left {
        text-align: left;
        img {
            margin-bottom: 1rem;
        }
        h3 {
            margin-bottom: 0;
        }
    }
    &__right {
        align-self: flex-end;
        width: 40px;
        height: 40px;
        background-color: #569dd5;
        background-color: $primary;
        color: #fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

