.hero-bg {
  background: url(/assets/images/homebg.png) no-repeat;
  min-height: 100vh;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
          justify-content: space-between;
  top: -100px;
  position: relative;
  margin-bottom: -100px;
}

.hero-bg_content {
  max-width: 600px;
  font-size: 18px;
}

.hero-bg_content h2 {
  font-size: 4rem;
  font-family: "Lato-Regular";
  font-weight: 400;
}

.hero-bg_content p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

@media (max-width: 767px) {
  .home-slider__desc {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

@media (max-width: 479px) {
  .home-slider__desc {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding: 0;
    text-align: center;
    margin-top: 1rem;
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
  }
}

.home-slider__desc p {
  margin: 25px 0 50px;
}

@media (max-width: 479px) {
  .home-slider__desc p {
    display: none;
  }
}

@media (max-width: 767px) {
  .home-slider__image-container {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

@media (max-width: 479px) {
  .home-slider__image-container {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding: 0;
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
  }
}

@media (min-width: 768px) {
  .home-whowe p {
    margin-bottom: 0;
  }
}

.home-whowe .main-dis {
  margin: 0 0 4rem;
}

@media (min-width: 768px) {
  .home-whowe .main-dis {
    padding: 0 12rem;
  }
}

@media (max-width: 1024px) {
  .home-whowe__fig {
    max-width: 50%;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    margin-bottom: 1.5rem;
  }
}

@media (max-width: 767px) {
  .home-whowe__fig {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    border: solid 1px #f1f1f1;
    max-width: 350px;
    margin: 0 auto 20px;
    padding: 20px;
  }
}

.home-whowe__fig h4 {
  margin-bottom: 1rem;
}

.home-whowe__fig p {
  text-align: justify;
  padding: 0 1rem;
}

.home-whowe__figimg {
  margin-bottom: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home-whowe__figimg img {
  max-height: 200px;
}

.home-whatwedo .container {
  max-width: 850px;
}

@media (max-width: 767px) {
  .home-whatwedo .row {
    margin-top: 50px;
  }
  .home-whatwedo .col-6 {
    margin-bottom: 20px;
  }
  .home-whatwedo .col-6:nth-child(odd) .home-whatwedo__card__img img {
    margin-left: -60px;
    margin-right: 0;
  }
  .home-whatwedo .col-6:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 479px) {
  .home-whatwedo .row {
    margin-top: 100px;
  }
  .home-whatwedo .col-6 {
    margin-bottom: 100px;
  }
  .home-whatwedo .col-6:nth-child(odd) .home-whatwedo__card__img img {
    margin-left: -80px;
  }
}

.home-whatwedo__card {
  margin-bottom: 70px;
  cursor: pointer;
  overflow: hidden;
}

@media (max-width: 767px) {
  .home-whatwedo__card {
    position: relative;
    overflow: visible;
    background-color: #f2f2f2;
    margin: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 479px) {
  .home-whatwedo__card {
    margin: 40px;
  }
}

.home-whatwedo__card:hover .home-whatwedo__card__img__info {
  bottom: 0;
}

.home-whatwedo__card:hover h4 a {
  color: #0b94d3;
}

.home-whatwedo__card__img {
  position: relative;
  width: 385px;
  height: 285px;
  background-color: #f2f2f2;
}

@media (max-width: 767px) {
  .home-whatwedo__card__img {
    width: 100%;
    height: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.home-whatwedo__card__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 767px) {
  .home-whatwedo__card__img img {
    position: static;
    margin-top: -50px;
    margin-right: -60px;
    margin-left: 0;
    height: auto;
  }
}

.home-whatwedo__card__img__info {
  display: block;
  position: absolute;
  left: 0;
  bottom: -100%;
  width: 100%;
  background: rgba(22, 22, 22, 0.65);
  padding: 8% 5%;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

@media (max-width: 767px) {
  .home-whatwedo__card__img__info {
    display: none;
  }
}

.home-whatwedo__card__img__info h5 {
  color: #fff;
  font-family: "Lato-Regular";
  margin-bottom: .8rem;
  font-weight: 400;
}

.home-whatwedo__card__img__info a {
  font-size: .7rem;
  color: #1795d2;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(12, 147, 228, 0.65);
  font-family: "Lato-Bold";
  letter-spacing: 3.36px;
}

.home-whatwedo__card h4 {
  color: #070707;
  font-family: "Lato-Semibold";
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.home-whatwedo__card h4 a {
  color: #070707;
}

@media (max-width: 767px) {
  .home-whatwedo__card h4 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    font-size: 1.3rem;
    margin-top: 2rem;
  }
}

@media (min-width: 768px) {
  .home-needus h5 {
    margin-bottom: 0;
    font-size: 1rem;
    line-height: 1.4;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .home-needus .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 767px) {
  .home-needus__desc {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.home-needus__descpara {
  margin-bottom: 4rem;
}

@media (max-width: 1024px) {
  .home-needus__descpara {
    margin-bottom: 2rem;
  }
}

@media (max-width: 767px) {
  .home-needus__descpara {
    width: 90%;
    background: #fff;
    margin: -60px auto 20px;
    position: relative;
    z-index: 9;
    padding: 15px;
  }
}

.home-needus__descpara p {
  text-align: justify;
  margin-bottom: .4rem;
}

@media (max-width: 767px) {
  .home-needus__descitems {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.home-needus__itemimg {
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1024px) {
  .home-needus__itemimg {
    margin-bottom: 1rem;
  }
}

@media (max-width: 1024px) {
  .home-needus__itemimg span {
    font-size: 4rem;
  }
}

@media (max-width: 767px) {
  .home-needus__item h5 {
    font-size: 1rem;
    text-align: center;
    line-height: 1.45;
  }
  .home-needus__item h5 .block {
    display: block;
  }
}

.home-needus__imgblk {
  text-align: right;
}

.home-howdo .col-6 {
  padding: 0 3rem;
  margin-bottom: 2rem;
}

.home-howdo p {
  text-align: left;
}

.topitem {
  border-bottom: 1px solid rgba(0, 0, 0, 0.22);
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}

.topitem__left {
  text-align: left;
}

.topitem__left img {
  margin-bottom: 1rem;
}

.topitem__left h3 {
  margin-bottom: 0;
}

.topitem__right {
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 40px;
  height: 40px;
  background-color: #569dd5;
  background-color: #1795d2;
  color: #fff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=homepage.css.map */