@font-face {
    font-family: 'Roboto-Light';
    src: url('../../assets/fonts/Roboto-Light.eot') format('embedded-opentype'),
        url('../../assets/fonts/Roboto-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('../../assets/fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/Roboto-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-RegularItalic';
    src: url('../../assets/fonts/Roboto-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/Roboto-RegularItalic.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url('../../assets/fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/Roboto-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('../../assets/fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/Roboto-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Lato-Light';
    src: url('../../assets/fonts/Lato-Light.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/Lato-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Lato-Regular';
    src: url('../../assets/fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/Lato-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Lato-Semibold';
    src: url('../../assets/fonts/Lato-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/Lato-Semibold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Lato-Bold';
    src: url('../../assets/fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/Lato-Bold.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}
@font-face {
    font-family: 'icomoon';
    src: url('../../assets/fonts/icomoon.woff') format('woff');
    font-display: swap;
}

[class^="icon-"], [class*=" icon-"] {
/* use !important to prevent issues with browser extensions that change fonts */
font-family: 'icomoon';
speak: none;
font-size: 6rem;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
line-height: 1;
position: relative;
z-index: 1;

/* Better Font Rendering =========== */
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

.icon-address:before {
  content: "\e900";
}
.icon-arrow_bottom:before {
  content: "\e901";
  color: #205da8;
}
.icon-artificial-intelligence:before {
  content: "\e902";
  color: #fff;
}
.icon-business-intelligence:before {
  content: "\e903";
}
.icon-business-scaling:before {
  content: "\e904";
}
.icon-cloud-teaching:before {
  content: "\e905";
  color: #0674b9;
}
.icon-consulting-needs-assessment:before {
  content: "\e906";
  color: #fff;
}
.icon-creative-technical-excellence:before {
  content: "\e907";
}
.icon-CRM-system-implementations:before {
  content: "\e908";
  color: #fff;
}
.icon-CRM-system-migrations:before {
  content: "\e909";
  color: #fff;
}
.icon-customer-engagement:before {
  content: "\e90a";
}
.icon-customer-experience:before {
  content: "\e90b";
}
.icon-customer-insight:before {
  content: "\e90c";
  color: #fff;
}
.icon-customer-service:before {
  content: "\e90d";
  color: #fff;
}
.icon-data-extraction:before {
  content: "\e90e";
  color: #fff;
}
.icon-email:before {
  content: "\e90f";
}
.icon-facebook:before {
  content: "\e910";
  color: #fff;
}
.icon-field-service:before {
  content: "\e911";
  color: #fff;
}
.icon-financials:before {
  content: "\e912";
  color: #fff;
}
.icon-hand-select:before {
  content: "\e913";
}
.icon-heart-icon:before {
  content: "\e914";
  color: #0674b9;
}
.icon-highly-functional:before {
  content: "\e915";
}
.icon-innovative-business-growth:before {
  content: "\e916";
}
.icon-linkedin:before {
  content: "\e917";
  color: #fff;
}
.icon-machine-learning:before {
  content: "\e918";
  color: #fff;
}
.icon-marketing:before {
  content: "\e919";
  color: #fff;
}
.icon-operations:before {
  content: "\e91a";
  color: #fff;
}
.icon-pencil-pc:before {
  content: "\e91b";
}
.icon-phone:before {
  content: "\e91c";
}
.icon-project-automation:before {
  content: "\e91d";
  color: #fff;
}
.icon-sales:before {
  content: "\e91e";
  color: #fff;
}
.icon-sync-devices:before {
  content: "\e91f";
}
.icon-system-data-integrations:before {
  content: "\e920";
  color: #fff;
}
.icon-target:before {
  content: "\e921";
  color: #0674b9;
}
.icon-twitter:before {
  content: "\e922";
  color: #fff;
}