@import 'mixins';

html {
    font-size: 14px;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
body {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: $white;
    font-family: 'Roboto-Regular', sans-serif;
    letter-spacing: 0.1px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    main{
        margin-top: 100px;
        @include max-width-for(phone) {
            text-align: center;
            
        }
    }
}
.m-0{
    margin: 0;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
  @include max-width-for(phone){
      text-align: center;
  }
}
.text-left {
    text-align: left;
    @include max-width-for(phone){
        text-align: center;
    }
  }
.bottom-align {
  align-self: flex-end;
}
.middle-align{
    align-self:center;
}
.spacer{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}
.flex-important{
    display: flex !important;
    flex-wrap: wrap !important;
}
// flex helper class
.d-flex {
    display: flex;
    flex-wrap: wrap;
}
.align-items-center {
    align-items: center;
}

.flex-column{
    flex-direction: column;
}
.flex-row{
    flex-direction: row;
}
.center-content {
    justify-content: center;
}
.flex-space-between{
    justify-content: space-between;
}
.flex{
   flex: 1;
}
.flex-center{
    @include flex_center
}
.justify-content-center {
    @extend .d-flex;
    @include flex_justify(center);
}
.justify-content-between {
    @extend .d-flex;
    @include flex_justify(space-between);
}
section{
    .heading-dotbg{
        background: url(../../../assets/images/datascience/dot-bg.png) no-repeat center;
        background-size: 10rem;
        background-position: top left 15px;
        padding-top: 2rem;
        padding-left: 2rem;
        @include max-width-for(phone){
            background: none;
        }
    }
    .heading-blue{
        color: $primary;
        margin-bottom: 0;
    }
}

@include for-size(tablet){
    .block {
        display: block;
    }
    
    .flex-order{
        order: -1;
    }
    .mb-0{
        margin-bottom: 0;
    }
    .pb-0{
        padding-bottom: 0;
    }
}
@include max-width-for(phone){
    .m-mb-2{
        margin-bottom: 2rem;
    }
}


//sticky css
.header-social-share{
    background: $black;
    width: 4.7rem;
    padding: 2.2rem .8rem;
    border-radius: 40px 0 0 40px;
    text-align: center;
    position: fixed;
    right: 0;
    top: 125px;
    z-index: 3;
    @include max-width-for(tablet){
        visibility: hidden;
        width: 3.3rem;
        padding: 1rem .8rem;
        border-radius: 25px 0 0 25px;
        top: 110px;
    }
    li{
        margin: 1.2rem 0;
        @include max-width-for(tablet){
            margin: .8rem 0;
        }
        a {
            color: #fff;
        }
    }
    span{
        font-size: 3.4rem;
    }
}
.ismobile{
    overflow: hidden;
    position: fixed;
    .header-social-share{
        visibility: visible;
        span{
            font-size: 2.6rem;
        }
    } 
}
//Back to top
#back-to-top{
    cursor: pointer;
    position: fixed;
    bottom: 10px;
    right: 15px;
    display: none;
    height: 3em;
    width: 3em;
    color: #fff;
    border-color: #1d5ca9;
    background-color: #1d5ca9;
    z-index: 999;
    &:before, &:after {
        content: "";
        display: block;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%,-50%);
    }
    &:before {
        transform: translate(-50%,-25%) rotate(45deg);
        border: 2px solid currentColor;
        border-bottom: 0;
        border-right: 0;
        height: .65em;
        width: .65em;
    }

}

//preloader css
.spinner-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    left: 0;
    top: 0;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;

}
.spinner {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 100px auto;
  }
  
  .double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #333;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
  }
  
  .double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  @-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bounce {
    0%, 100% { 
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
    } 50% { 
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
  }