@import "./../../base/mixins";

.mobile_final {
  .container {
    max-width: 1140px;
  }
  .build_business{
    @include max-width-for(phone) {
      .item1{
        order:1;
      }
      .item2{
        order:3;
      }
      .item3{
        order:2;
      }
    }
    .flexslider {
      .slides_caption {
        h4{
          margin: 1rem 0;
        }
      }
    }
  }
  .work_with_us {
    img {
      box-shadow: 1px 1px 34px 2px #797676c4;
      -webkit-box-shadow: 13px 1px 18px 0px #797676c4;
      max-width: 33.3%;
      padding: 0 1rem;
      align-self: center;
    }
    .btn-container {
      margin-top: 5rem;
    }
  }
  .mobile-grid {
    @include max-width-for(phone) {
      text-align: center;
    }
    .col {
      flex: 1 0 34%;
      max-width: 50%;
      margin-bottom: 1.5rem;
      @include max-width-for(phone) {
        flex: 1 0 100%;
        max-width: 100%;
      }
    }
  }
}
