.mobile_final .container {
  max-width: 1140px;
}

@media (max-width: 767px) {
  .mobile_final .build_business .item1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .mobile_final .build_business .item2 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .mobile_final .build_business .item3 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.mobile_final .build_business .flexslider .slides_caption h4 {
  margin: 1rem 0;
}

.mobile_final .work_with_us img {
  box-shadow: 1px 1px 34px 2px #797676c4;
  -webkit-box-shadow: 13px 1px 18px 0px #797676c4;
  max-width: 33.3%;
  padding: 0 1rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.mobile_final .work_with_us .btn-container {
  margin-top: 5rem;
}

@media (max-width: 767px) {
  .mobile_final .mobile-grid {
    text-align: center;
  }
}

.mobile_final .mobile-grid .col {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 34%;
          flex: 1 0 34%;
  max-width: 50%;
  margin-bottom: 1.5rem;
}

@media (max-width: 767px) {
  .mobile_final .mobile-grid .col {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
    max-width: 100%;
  }
}
/*# sourceMappingURL=mobile-final.css.map */